<section class="hero">
  <div class="hero-image">
    <img src="AA.jpg" alt="Numérisation et transformation digitale">
  </div>
  <div class="hero-content">
    <h1>Bienvenue chez T&B</h1>
    <h2>TECHNOLOGY & BUSINESS</h2>
    <p>Optimisez la gestion de vos documents avec nos solutions innovantes d'archivage électronique.</p>
    <button mat-button class="cta-button" routerLink="/services">Découvrez nos services</button>
  </div>
</section>

<section class="services-overview">
  <h2>Nos Services</h2>
  <div class="services-grid">
    <div class="service-card">
      <h3>Gestion Électronique des Documents</h3>
      <p>Numérisez et organisez vos documents pour une accessibilité optimale.</p>
    </div>
    <div class="service-card">
      <h3>Archivage Sécurisé</h3>
      <p>Protégez vos données sensibles avec nos solutions d'archivage avancées.</p>
    </div>
    <div class="service-card">
      <h3>Intégration Systèmes</h3>
      <p>Intégrez nos solutions dans votre infrastructure existante.</p>
    </div>
     <div class="service-card">
      <h3>Cloud computing </h3>
      <p>Intégrez nos solutions dans votre infrastructure existante.</p>
    </div>
    <div class="service-card">
      <h3>Ventes des matériels informatiques </h3>
      <p>Nous mettons en vente des materiels informatiques adéquats et de qualités.</p>
    </div>
  </div>
  
</section>

<section class="about-preview">
  <h2>À Propos de Nous</h2>
  <p>T&B est votre partenaire de confiance pour toutes vos besoins en gestion documentaire. Avec des années d'expérience, nous offrons des solutions sur mesure pour améliorer l'efficacité de votre entreprise.</p>
  <button mat-button routerLink="/about">En savoir plus</button>
</section>
