<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>T&B - TECHNOLOGY & BUSINESS</h3>
      <p>Votre partenaire de confiance pour la gestion électronique des documents et l'archivage sécurisé.</p>
    </div>
    <!-- <div class="footer-section">
      <h3>Liens Rapides</h3>
      <ul>
        <li><a routerLink="/home">Accueil</a></li>
        <li><a routerLink="/about">À propos</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/materials">Matériels</a></li>
        <li><a routerLink="/articles">Articles</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div> -->
    <div class="footer-section">
      <h3>Contact</h3>
      <p>Email: info&#64;technologybusiness-tb.com</p>
      <p>Téléphone: 90 91 09 52</p>
      <p> Kégué Boulevard Jean Paul II</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 T&B. Tous droits réservés.</p>
  </div>
</footer>
